/* Porfavor intenta no hacer reglas generales para las listas,
despues al final vemos si podemos hacer alguna regla general para ahorrar
espacio o no repetirnos, lo digo porque nos pisamos un monton si no. 
pero no se que te parece, cualquier cosa escribeme a wsp*/

/* Reglas generales */
* {
    margin: 0;
    box-sizing: border-box;
    color: #242E53;
    font-family: 'Be Vietnam Pro', sans-serif;
}

/* Estilos para el header */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 4%; */
}

li {
    display: inline-block;
    padding: 0.7rem;
}

.mobile-menu {
    display: none;
}

/* Estilos para la seccion "Best of the month" */
h2:first-of-type {
    font-size: 2.451rem;
    font-weight: 700;
    line-height: 1.566;
    text-align: center;
}

/* Estilos para los perfiles */
.profile_container {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1rem 2rem;
}

.profile p {
    color: #B9B9C1;
}

.profile img {
    width: 3rem;
    margin: 1rem;
}

/* Estilos generales para los botones */
button {
    height: 2.75rem;
    width: 8.375rem;
    border-radius: 3.125rem;
    background: #8B48BF;
    color: white;
    display: block;
    margin: 0 auto;
}

/* Estilos para la sección "best teams of the year" */
.more_info {
    background: #8B48BF;
    padding: 4% 4%;
    font-size: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.more_info h2, .more_info button {
    color: white;
}

.more_info button {
    background-color: white;
    color: #8B48BF;
}

/* Estilos para el pie de página */
footer {
    padding: 5% 5%;
    background: #1E1E26;
}

footer h4, ul, a {
    color: white;
    font-size: 1rem;
    list-style: none;
    text-decoration: none;
    font-weight: normal;
}

footer h4 {
    color: #8C8C94;
    font-size: small;
    margin: 3%;
    position: relative;
}

form input:first-of-type {
    display: flex;
    width: 100%;
    padding: 1%;
    margin: 4%;
    align-items: center;
    border-radius: 50px;
    background: #FFF;
}

form input {
    display: flex;
    width: 10%;
    padding: 1.5%;
    margin: 4%;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: #8B48BF;
    color: white;
}

footer .footer_nav ul {
    list-style: none;
    position: relative;
    bottom: 3rem;
    column-count: 2;
}

footer .footer_nav ul li {
    width: 60%;
}

/* Media Query para dispositivos móviles */
@media (max-width: 700px) {

    .profile:first-child,
    .profile:nth-child(3) {
        display: none;
    }

    .more_info {
        background: #3CDDF3;
        padding: 8% 8%;
        text-align: center;
        flex-direction: column;
    }

    .more_info button {
        margin-top: 2rem;
        background: #232C50;
    }
    
    .more_info button {
        color: white;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form {
        display: flex;
        padding: 2rem;
        position: relative;
        bottom: 2rem;
        width: 100%;
    }

    .social_media {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 90%;
        height: auto;
        position: relative;
        bottom: 2rem;
    }

    form input:first-of-type {
        width: 100%;
        height: 10%;
        padding: 3%;
    }
    
    form input {
        width: 25%;
        height: 10%;
        padding: 3%;
    }

    .logo {
        position: relative;
        bottom: 0.5rem;
    }
    
}
