/* Reglas generales */
* {
    margin: 0%;
    padding: 0%;
    color: #242E53;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
}

/* Estilos para el header */
.header-nav {
    display: flex;
    justify-content: space-between;
    padding: 5% 12%;
}

.navbar-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.desktop-menu a:nth-child(-n + 5) {
    color: #232851;
    font-size: 1rem;
}

.navbar-button {
    margin: 0;
}

.mobile-menu {
    display: none;
}

/* Estilos titulo */
.title-container {
    margin: 6% 12%;
    display: flex;
    align-items: center;
    gap: 10%;
}

.title-text {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 28px;
}

h1 {
    font-size: 3rem;
    text-align: right;
}

.title-text p {
    text-align: right;
    font-size: 1rem;
}

.title-text button {
    margin: 0;
}

.title-container img {
    height: 100%;
}

/* Estilos seccion "pro title" */
.pros-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8%;
    background: #8B48BF;
    padding: 1.5% 0;
}

.pros-title p, .pros-title h2 {
    color: white;
    width: 31%;
}

.pros-title h2 {
    font-size: 2rem;
}

.pros-title p {
    font-size: 1rem;
}

/* Estilos texto "different between pros" */
.pros-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3% 0;
    row-gap: 24px;
    column-gap: 50px;
}

.pros-list div {
    width: 42%;
    display: flex;
    gap: 23px;
}

.pros-list section {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.pros-list button {
    padding: 10px 25px;
}

.pros-list h3 {
    color: #232851;
    font-size: 1rem;
    line-height: 2rem;
}

.pros-list p {
    color: #B9B9C1;
    line-height: 2rem;
}



/* Estilos para la seccion "Best of the month" */
h2:first-of-type {
    font-size: 2.451rem;
    font-weight: 700;
    line-height: 1.566;
    text-align: center;
}

/* Estilos para los perfiles */
.profile_container {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1rem 2rem;
}

.profile p {
    color: #B9B9C1;
    margin: 4%;
}

.profile img {
    width: 4rem;
    margin: 1rem;
}

/* Estilos generales para los botones */
button {
    height: 2.75rem;
    width: 8.375rem;
    border-radius: 3.125rem;
    background: #8B48BF;
    color: white;
    display: block;
    margin: 0 auto;
}

/* Estilos para la sección "best teams of the year" */
.more_info {
    background: #8B48BF;
    font-size: 4rem;
    padding:3.4rem;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.more_info h2 {
    width: 30%;
    height: 10%;
    text-align: left;
    margin-left:5rem;
}

.more_info h2, .more_info button {
    color: white;
}

.more_info button {
    background-color: white;
    color: #8B48BF;
    position: relative;
    margin-right:5rem;
}

/* Estilos para el pie de página */
footer {
    background: #1E1E26;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 3%;
}

footer h4, ul, a {
    color: white;
    font-size: 1rem;
    list-style: none;
    text-decoration: none;
    font-weight: normal;
}

footer h4 {
    color: #8C8C94;
    font-size: small;
    position: relative;
    left: 80%;
    top:5rem;
    width: 35%;
    height: 1rem;
}

form input:first-of-type {
    display: flex;
    position: relative;
    width: 100%;
    height: 23%;
    padding: 3%;
    margin: 15% 0 0 10%;
    align-items: center;
    border-radius: 50px;
    background: #FFF;
}

form input {
    display: flex;
    width: 10%;
    padding: 1.5%;
    margin: 4%;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: #8B48BF;
    color: white;
}

footer .footer_nav ul {
    list-style: none;
    position: relative;
    top: 1%;
    right: 13%;
    width: 80%;
    margin: 2%;
    column-count: 2;
}

footer .footer_nav ul li {
    width: 60%;
}

.logo {
    position: relative;
    right: 11.5%;
    height: 0%;
    margin: 2%;
}

.social_media {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 10%;
    height: 0%;
    position: relative;
    top: 7rem;
    right: 16rem;
    margin: 2%;
}

/* Media Query para dispositivos móviles */
@media (max-width: 700px) {

    .desktop-menu {
        display: none;
    }

    .mobile-menu {
        display: block;
    }

    .profile:first-child,
    .profile:nth-child(3) {
        display: none;
    }

    .more_info {
        background: #3CDDF3;
        padding: 6%;
        text-align: center;
        flex-direction: column;
    }

    .more_info h2 {
        width: 50%;
        text-align: center;
        margin-left: 0%;
        margin-bottom: 8%;
    }

    .more_info button {
        margin:0rem;
        color: white;
        background: #232C50;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form {
        display: flex;
        padding: 2rem;
        position: relative;
        bottom: 2rem;
        width: 100%;
    }

    .social_media {
        width: 90%;
        bottom: 7rem;
        top: 0rem;
        left: 0.5rem;
    }

    form input:first-of-type {
        width: 100%;
        height: 10%;
        padding: 3%;
        margin: 15% 0 0 0;
    }
    
    form input {
        width: 25%;
        height: 10%;
        padding: 3%;
        margin: 4%;
    }

    .logo {
        position: relative;
        bottom: 0.5rem;
    }

    footer h4 {
        left: 20%;
        top:0rem;
        bottom: 1rem;
    }
}
